<div class="my-3 p-3">
    <h1 class="border-bottom border-gray pb-2 mb-0">Beskeder</h1>

    <div class="row pt-3 border-bottom border-gray pb-3">
        <div class="col-2">
            <strong class="d-block text-gray-dark">@username</strong>
            <i class="d-block text-gray">15:21 010122</i></div>
        <div class="col-10">
            <p class="media-body mb-0 small lh-125">
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
            </p>
        </div>
    </div>
    <div class="row pt-3 border-bottom border-gray pb-3">
        <div class="col-2">
            <strong class="d-block text-gray-dark">@username</strong>
            <i class="d-block text-gray">15:21 010122</i></div>
        <div class="col-10">
            <p class="media-body mb-0 small lh-125">
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
            </p>
        </div>
    </div>
    <div class="row pt-3 border-bottom border-gray pb-3">
        <div class="col-2">
            <strong class="d-block text-gray-dark">@username</strong>
            <i class="d-block text-gray">15:21 010122</i></div>
        <div class="col-10">
            <p class="media-body mb-0 small lh-125">
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
            </p>
        </div>
    </div>

</div>