<div class="row">
    <div class="col-9">
        <h1 id="parti">Klimapartiet</h1>
        <p class="leed">Endnu et parti der løber fra sine løfter</p>
        <p>Alias amet autem beatae impedit nulla quibusdam quod. Eum excepturi facere iste magnam modi numquam, quisquam rerum sed, suscipit vel veritatis, voluptatum.</p>
        <p>Ab adipisci alias aspernatur, debitis deleniti distinctio eos error ipsam itaque maxime mollitia, perspiciatis quasi qui, rem rerum sapiente ut veniam voluptates.</p>
    </div>

    <div class="col-3">
        <form action="/login" method="post">
            <div class="py-2">
                <label for="staticEmail2">E-mail</label>
                <input type="text" class="form-control" id="staticEmail2" placeholder="E-mail adresse">
            </div>
            <div class="py-2">
                <label for="inputPassword2">Password</label>
                <input type="password" class="form-control" id="inputPassword2" placeholder="Adgangskode">
            </div>
            <div class="py-2 d-flex justify-content-center">
                <button type="submit" class="btn btn-primary mb-3">Confirm identity</button>
            </div>
        </form>
    </div>
</div>