<div class="row">
    <div class="col-6 offset-3">

        <form action="/registrer" method="post">
            <div class="py-2">
                <label for="staticEmail2">Navn</label>
                <input type="text" class="form-control" id="staticEmail2">
            </div>
            <div class="py-2">
                <label for="staticEmail2">Email</label>
                <input type="email" class="form-control" id="staticEmail2">
            </div>
            <div class="py-2">
                <label for="staticEmail2">Fødselsdato</label>
                <input type="date" class="form-control" id="staticEmail2">
            </div>
            <div class="py-2 d-flex justify-content-center">
                <button type="submit" class="btn btn-primary mb-3 align-middle">Registrar</button>
            </div>
        </form>
    </div>
</div>